.header-1 {
    color: #000000;
}

.list__container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 48px;

}
.wellBeingToDo {
    animation: 1s wellBeingToDo;
    -webkit-animation: wellBeingToDo 1s forwards;
  }

  .todo-item {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; 
  }


.fade-out {
  opacity: 0;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

@keyframes wellBeingToDo {
    from {
        margin-left: 100%;
      }
      to {
        margin-left: 0%;
      }
}

@-webkit-keyframes wellBeingToDo {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes quickWobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.quick-wobble {
  animation: quickWobble 0.5s ease-in-out;
}

@media only screen and (max-width: 460px) {
  .header-1 {
    font-size: 1.5em;
  }
}


