.header-1 {
    color: #000000;
}

.list__container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 48px;

}
.wellBeingToDo {
    animation: 1s wellBeingToDo;
  }

@keyframes wellBeingToDo {
    from {
        margin-left: 100%;
      }
      to {
        margin-left: 0%;
      }
}

@media only screen and (max-width: 460px) {
  .header-1 {
    font-size: 1.5em;
  }
}


